<div *ngIf="product">
  <form #form="ngForm">
    <button mat-button color="accent" type="submit" [disabled]="!form.valid" (click)="send(2)">Zapisz dane do pliku txt</button>
    <button mat-button color="accent" type="submit" [disabled]="!form.valid" (click)="send(1)">Zapisz dane do pliku xml</button>
<table mat-table [dataSource]="product" class="mat-elevation-z8">
  <ng-container matColumnDef="Producent">
    <th mat-header-cell *matHeaderCellDef> Producent </th>
    <td mat-cell *matCellDef="let element;let i = index;">
        <mat-form-field class="example-full-width">
            <input matInput type="text" pattern="^[a-zA-Z\s]*$" [value]="element.Producent" [(ngModel)]="element.Producent" attr.name="Producent {{i}}" name="Producent {{i}}" #nameModel="ngModel">
            <mat-error *ngIf="nameModel.invalid">
              Można używać tylko litery
            </mat-error>
          </mat-form-field>
        </td>
  </ng-container>

  <ng-container matColumnDef="Matryca">
    <th mat-header-cell *matHeaderCellDef> Matryca </th>
    <td mat-cell *matCellDef="let element;let i = index;"> 
        <mat-form-field class="example-full-width">
            <input matInput [value]="element.Matryca" [(ngModel)]="element.Matryca"  attr.name="Matryca {{i}}" name="Matryca {{i}}"> 
        </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="Rozdzielczosc">
    <th mat-header-cell *matHeaderCellDef> Rozdzielczość </th>
    <td mat-cell *matCellDef="let element;let i = index;"> 
        <mat-form-field class="example-full-width">
            <input matInput [value]="element.Rozdzielczosc" [(ngModel)]="element.Rozdzielczosc"  attr.name=" Rozdzielczosc {{i}}" name="Rozdzielczosc {{i}}"> 
        </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="TypMatrycy">
    <th mat-header-cell *matHeaderCellDef> Typ Matrycy </th>
    <td mat-cell *matCellDef="let element;let i = index;"> 
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.Matryca" [(ngModel)]="element.TypMatrycy"  attr.name="TypMatrycy {{i}}" name="TypMatrycy {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>
  <ng-container matColumnDef="DotykowyEkran">
    <th mat-header-cell *matHeaderCellDef> Dotykowy Ekran </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.DotykowyEkran" [(ngModel)]="element.DotykowyEkran"  attr.name="DotykowyEkran {{i}}" name="DotykowyEkran {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>

  <ng-container matColumnDef="CPU">
    <th mat-header-cell *matHeaderCellDef> CPU </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-form-field class="example-full-width; let i = index;">
        <input matInput [value]="element.CPU" [(ngModel)]="element.CPU"  attr.name="CPU {{i}}" name="CPU {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>

  <ng-container matColumnDef="IloscRdzeni">
    <th mat-header-cell *matHeaderCellDef> Ilosc Rdzeni </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.IloscRdzeni" type="text" pattern="\d+" [(ngModel)]="element.IloscRdzeni"  attr.name="IloscRdzeni {{i}}" name="IloscRdzeni {{i}}" #iloscRdzeniModel="ngModel">
        <mat-error *ngIf="iloscRdzeniModel.invalid">
          Błędne dane
        </mat-error> 
      </mat-form-field> 
    </td>
  </ng-container>

  <ng-container matColumnDef="MHZ">
    <th mat-header-cell *matHeaderCellDef> MHZ </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.MHZ" type="text" pattern="\d+" [(ngModel)]="element.MHZ"  attr.name="MHZ {{i}}" name="MHZ {{i}}"#MHZModel="ngModel">
        <mat-error *ngIf="MHZModel.invalid">
          Błędne dane
        </mat-error> 
      </mat-form-field> 
    </td>
  </ng-container>

  <ng-container matColumnDef="RAM">
    <th mat-header-cell *matHeaderCellDef> RAM </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.RAM" [(ngModel)]="element.RAM"  attr.name="RAM {{i}}" name="RAM {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>

 
  <ng-container matColumnDef="PojemnoscDysku">
    <th mat-header-cell *matHeaderCellDef> Pojemność Dysku </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.PojemnoscDysku" [(ngModel)]="element.PojemnoscDysku"  attr.name="PojemnoscDysku {{i}}" name="PojemnoscDysku {{i}}"> 
      </mat-form-field>
    </td>
  </ng-container>
 
  <ng-container matColumnDef="RodzajDysku">
    <th mat-header-cell *matHeaderCellDef> Rodzaj Dysku </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.RodzajDysku" [(ngModel)]="element.RodzajDysku"  attr.name="RodzajDysku {{i}}" name="RodzajDysku {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>
 
  <ng-container matColumnDef="GPU">
    <th mat-header-cell *matHeaderCellDef> GPU </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.GPU" [(ngModel)]="element.GPU"  attr.name="GPU {{i}}" name="GPU {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>

  <ng-container matColumnDef="VRAM">
    <th mat-header-cell *matHeaderCellDef> VRAM </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.VRAM" [(ngModel)]="element.VRAM"  attr.name="VRAM {{i}}" name="VRAM {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>

  <ng-container matColumnDef="SystemOperacyjny">
    <th mat-header-cell *matHeaderCellDef> System Operacyjny </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.SystemOperacyjny" [(ngModel)]="element.SystemOperacyjny"  attr.name="SystemOperacyjny {{i}}" name="SystemOperacyjny {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>

  <ng-container matColumnDef="NapedOptyczny">
    <th mat-header-cell *matHeaderCellDef> Napęd Optyczny </th>
    <td mat-cell *matCellDef="let element; let i = index;">
      <mat-form-field class="example-full-width">
        <input matInput [value]="element.NapedOptyczny" [(ngModel)]="element.NapedOptyczny"  attr.name="NapedOptyczny {{i}}" name="NapedOptyczny {{i}}"> 
      </mat-form-field> 
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</form>
</div>